body {
    background-color: black;
    color: white;
}

.canvas {
    width: 24em;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.title {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.operations {
    width: inherit;
    font-size: 1.25em;
    justify-content: center;
    display: flex;
    margin-bottom: 0.5em;
    gap: 1.5em;
}

.operation-buttons {
    display: flex;
    justify-content: space-between;
    width: inherit;
    flex: 1;
}

.reset-button {
    display: flex;
    background-color: firebrick;
    color: aliceblue;
    border: none;
}

.download-button {
    display: flex;
    background-color: olivedrab;
    color: aliceblue;
    border: none;
}